<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>个人博客在线编辑</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script>
    getPageParams('/post');
    function getPageParams(href) {
      $.get(href, {
        pjax: true
      }, function (data, status, xhr) {
        if (status === "success") {
          window.history.pushState({
            status: 0
          }, '', href);
          window.postEditor = null;
          window.pageEditor = null;
          $("#container").html(data);
        }
      });
    }
  </script>
  <style>
    body {
      background: #dddddd;
    }
    .output {
      display: block;
      width: 100%;
      height: 80%;
      border: 10px solid #F8F8F8;
      padding: 10px;
      line-height: 20px;
      overflow: auto;
      background-color: #3F3F3F;
      color: #eee;
      font-size: 12px;
      font-family: Courier New;
    }

    #container {
      height: 100%;
      width: 100%;
    }

    .top {
      margin: 10px;
    }

    .btn-toolbar {
      margin-left: 5px;
      margin-bottom: 5px;
    }

    .list-group-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .navbar {
      background: #333333;
      box-shadow: 0 0 6px rgba(0,0,0,0.25);
      transition: background-color 500ms ease;
    }

    #navbar-collapse {
      width: 100%;
    }

    .navbar-nav {
      width: 94%;
    }
    .navbar-nav li {
      float: left;
    }

    .navbar-nav li:last-child {
      float: right;
    }
    .navbar-nav a:hover {
      color: #777777;
    }

    .list-group-item:hover span {
      display: inline-block;
    }
    .btn:focus, .btn:active {
      outline: none !important;
      border: 0 !important;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
      color: #ffffff;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">个人博客</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- <li><a href="/hexo" pjax>Hexo</a></li> -->
          <li class="active"><a href="/post" pjax>文章</a></li>
          <li><a href="/page" pjax>博客</a></li>
          <li><a href="/logout">注销</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="container">
  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="/js/alertifyjs/alertify.js"></script>
  <script>
    // if (location.pathname !== "/") {
    //   switchActive(location.pathname);
    // }
    let ws = new WebSocket('<%- ssl?"wss":"ws" %>://' + window.location.hostname + ':<%= wsPort %>');
    ws.onopen = function (ev) {
      swal("WebSocket已连接");
      switchActive(location.pathname);
    };
    // ws.onmessage = function (ev) {
    //   var data = JSON.parse(ev.data);
    //   if (data.type === 'message') {
    //     swal("\n" + data.data);
    //   } else if (data.type === 'warning') {
    //     swal("\n" + data.data, 'warning');
    //   } else if (data.type === 'success') {
    //     swal("\n" + data.data, 'success');
    //   } else if (data.type === 'reload') {
    //     window.location.reload();
    //   } else if (data.type === 'error') {
    //     swal("\n执行出错，详情请查看控制台", "error");
    //     console.log(data.data);
    //   } else if (data.type === 'html') {
    //     $(data.el).html(data.data);
    //   }
    // };
    // ws.onclose = function (ev) {
    //   getPageParams('/logout');
    // };
    ws.onerror = function (ev) {
      swal("重新连接...", "error");
      ws = new WebSocket('<%- ssl?"wss":"ws" %>://' + window.location.hostname + ':<%= wsPort %>');
    };
    function swal(e, type = 'message') {
      if ($(".output").length > 0) {
        $(".output")[0].value += e;
        $(".output").scrollTop($(".output")[0].scrollHeight);
      } else {
        switch (type) {
          case "success":
            alertify.success(e);
            break;
          case "error":
          case "warning":
            alertify.error(e);
            break;
          case "message":
            alertify.log(e);
            break;
          default:
            alertify.log(e);
            break;
        }
      }
    }
    $("a[pjax]").bind("click", function (e) {
      if (window.autoSave) clearInterval(window.autoSave);
      $("ul.nav li").removeClass("active");
      $(this).parent().addClass('active');
      let path = $(this).attr("href");
      getPageParams(path);
      return false;
    });

    function switchActive(pathname) {
      $("ul.nav li").removeClass("active");
      $('a[href="' + pathname + '"]').parent().addClass('active');
    }
  </script>
</body>

</html>